.logo{
  max-width: 100px;
  position: absolute;
  margin-left: 20px;
}

.navbar_ordi{
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.navbar_phone{
  display: none;
}

.menu3_phone{
  display: none;
}

.bar_ordi{
  width: 115px;
  height: 2px;
  background-color: #0065FC;
  position: relative;
  left: 112px;
}

.menu1_phone{
  color: #0065FC;
}

.menu1_ordi{
  color: #0065FC;
}

.menu2_ordi{
  margin-left: 50px;
}

.menu3_ordi{
  margin-left: 50px;
  color: #0065FC;
  font-weight: 600;
}

.description{
  padding-left: 22px;
  padding-right: 20px;
}

.searchbar{
  display: flex;
  margin-left: 22px;
}

.marker_icon{
  width: 40px;
  height: 35px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.marker_icon img{
  width: 14px;
  padding-left: 12px;
  padding-top: 8px;
}

.box{
  border: solid 1px #F2F2F2;
  width: 250px;
  height: 33px;
  padding-left: 10px;
}

.box h3 {
  position: relative;
  bottom: 12px;
}

.search_phone{
  width: 32px;
  height: 35px;
  background-color: #0065FC;
  border-radius: 10px;
  position: relative;
  right: 10px;
}

.search_phone img{
  width: 16px;
  padding-left: 12px;
  padding-top: 7px;
  position: relative;
  right: 3px;
  top: 3px;
}

.search_ordi{
  width: 100px;
  height: 35px;
  background-color: #0065FC;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  right: 10px;
}

.search_ordi p{
  position: relative;
  left: 6px;
  bottom: 8px;
}

/*PHONE*/
@media screen and (max-width: 813px) {
  .navbar_ordi{
    display: none;
  }
  .navbar_phone{
    display: flex;
    justify-content: space-around;
  }
  .menu3_phone{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
    color: #0065FC;
    font-weight: 600;
  }
  .bar1_phone{
    width: 200px;
    height: 2px;
    background-color: #0065FC;
  }
  .bar2_phone{
    width: 200px;
    height: 2px;
    background-color: #F2F2F2;
  }
  .search_ordi{
    display: none;
  }
}

/*ORDI*/
@media screen and (min-width: 813px) {
  .search_phone{
    display: none;
  }
}




