a{
  color: black;
  text-decoration: none;
}

.logo{
  max-width: 100px;
  position: absolute;
  margin-left: 20px;
}

.navbar_ordi{
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.navbar_ordi a {
  text-decoration: none;
}

.navbar_phone{
  display: none;
}

.navbar_phone a {
  text-decoration: none;
}

.menu3_phone{
  display: none;
}

.bar_ordi{
  width: 115px;
  height: 2px;
  background-color: #0065FC;
  position: relative;
  left: 112px;
}

.menu1_phone{
  color: #0065FC;
}

.menu2_phone {
  color: black;
}

.menu1_ordi{
  color: #0065FC;
}

.menu2_ordi{
  margin-left: 50px;
  color: black;
}

.menu3_ordi{
  margin-left: 50px;
  color: #0065FC;
  font-weight: 600;
}

.description{
  margin-left: 22px;
  margin-right: 10px;
}

.searchbar{
  display: flex;
  margin-left: 22px;
}

.marker_icon{
  width: 40px;
  height: 35px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.marker_icon img{
  width: 14px;
  padding-left: 12px;
  padding-top: 8px;
}

input{
  width: 250px;
  height: 31px;
  border: 1px solid #F2F2F2;
}

.box h3 {
  position: relative;
  bottom: 12px;
}

.search_phone{
  width: 32px;
  height: 35px;
  background-color: #0065FC;
  border-radius: 10px;
  position: relative;
  right: 10px;
}

.search_phone img{
  width: 16px;
  padding-left: 12px;
  padding-top: 7px;
  position: relative;
  right: 3px;
  top: 3px;
}

.search_ordi{
  width: 100px;
  height: 35px;
  background-color: #0065FC;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search_ordi p{
  position: relative;
  left: 6px;
  bottom: 8px;
}

.filtres{
  display: flex;
  flex-wrap: wrap;
  margin-left: 22px;
  margin-top: 20px;
}

#resp{
  margin-right: 40px;
}

.economique{
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  height: 35px;
  width: 165px;
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
}

.economique h3{
  position: relative;
  bottom: 12px;
}

.economique:hover{
  background-color: #DEEBFF;
}

.money_icon{
  width: 39px;
  height: 39px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.money_icon img{
  position: relative;
  left: 8px;
  top: 10px;
}

.familial{
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  height: 35px;
  width: 125px;
  margin-top: 10px;
  margin-right: 25px;
  display: flex;
}

.familial h3{
  position: relative;
  bottom: 12px;
}

.familial:hover{
  background-color: #DEEBFF;
}

.child_icon{
  width: 39px;
  height: 39px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.child_icon img{
  position: relative;
  left: 12px;
  top: 10px;
}

.romantique{
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  height: 35px;
  width: 165px;
  margin-top: 10px;
  margin-right: 25px;
  display: flex;
}

.romantique h3{
  position: relative;
  bottom: 12px;
}

.romantique:hover{
  background-color: #DEEBFF;
}

.heart_icon{
  width: 39px;
  height: 39px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.heart_icon img{
  position: relative;
  left: 10px;
  top: 10px;
}

.animaux{
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  height: 35px;
  width: 220px;
  margin-top: 10px;
  margin-right: 25px;
  display: flex;
}

.animaux h3{
  position: relative;
  bottom: 12px;
}

.animaux:hover{
  background-color: #DEEBFF;
}

.dog_icon{
  width: 39px;
  height: 39px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.dog_icon img{
  position: relative;
  left: 10px;
  top: 10px;
}

.information{
  display: flex;
}

.information_icon img{
  width: 25px;
  position: relative;
  top: 12px;
  margin-left: 22px;
  margin-right: 10px;
}

.resultats_logement{
  display: flex;
  margin-top: 20px;
  margin-bottom: 50px;
}

.hebergement{
  border-radius: 15px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
}

.cases_hebergement{
  display: flex;
  flex-wrap: wrap;
}

.case1{
  background-color: white;
  border-radius: 15px;
  width: 210px;
  height: 225px;
  margin-right: 50px;
  margin-bottom: 30px;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
}

.case1 img{
  width: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 5px;
  padding-left: 5px;
  object-fit: cover;
}

.case1 p{
  padding-left: 15px;
  line-height: 20px;
}

.stars1{
  display: flex;
  padding-left: 10px;
  position: relative;
  bottom: 15px;
}

.stars1 img{
  width: 15px;
  object-fit: fill;
}

.populaires{
  background-color: #F2F2F2;
  padding: 15px;
}

.graph{
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.graph img{
  width: 20px;
}

.case2{
  display: flex;
  background-color: white;
  border-radius: 15px;
  height: 155px;
  line-height: 20px;
  margin-bottom: 30px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.15));
}

.case2 img{
  width: 140px;
  height: 145px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
  object-fit: cover;
}

.stars2{
  display: flex;
  padding-left: 10px;
  position: relative;
  bottom: 15px;
  right: 15px;
}

.stars2 img{
  width: 15px;
  object-fit: fill;
}

.titre_activites{
  margin-left: 22px;
  margin-bottom: 20px;
}

.activites{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.caseL1{
  margin-left: 22px;
  border-radius: 15px;
  width: 300px;
  height: 435px;
  box-shadow: 5px 5px 5px #F2F2F2;
  margin-right: 10px;
}

.caseL1 img{
  width: 300px;
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.caseL1 p{
  padding-left: 15px;
}

.caseM1{
  margin-left: 22px;
  margin-right: 12px;
  border-radius: 15px;
  width: 300px;
  height: 230px;
  box-shadow: 5px 5px 5px #F2F2F2;
  margin-bottom: 40px;
}

.caseM1 img{
  width: 300px;
  height: 175px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.caseM1 p{
  padding-left: 15px;
}

.caseS1{
  margin-left: 22px;
  border-radius: 15px;
  width: 300px;
  height: 165px;
  box-shadow: 5px 5px 5px #F2F2F2;
}

.caseS1 img{
  width: 300px;
  height: 110px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.caseS1 p{
  padding-left: 15px;
}

.footer{
  display: flex;
  flex-wrap: wrap;
  width: 97vw;
  height: 180px;
  background-color: #F2F2F2;
  padding: 22px;
  position: relative;
  right: 10px;
}

.part2{
  margin-right: 100px;
}

/*PHONE*/
@media screen and (max-width: 813px) {
  .navbar_ordi{
    display: none;
  }
  .navbar_phone{
    display: flex;
    justify-content: space-around;
  }
  .menu3_phone{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
    color: #0065FC;
    font-weight: 600;
  }
  .bar1_phone{
    width: 200px;
    height: 2px;
    background-color: #0065FC;
  }
  .bar2_phone{
    width: 200px;
    height: 2px;
    background-color: #F2F2F2;
  }
  .search_ordi{
    display: none;
  }
  #resp{
    margin-right: 100px;
  }
  .resultats_logement{
    flex-wrap: wrap-reverse;
  }
  .case1{
    width: 295px;
  }
  .case1 img{
  width: 285px;
  height: 135px;
  }
  .stars1{
    width: 100px;
    position: relative;
    bottom: 75px;
  }
  .fixresponsive{
    position: relative;
    bottom: 35px;
  }
  .caseL1{
    width: 310px;
    height: 185px;
    margin-bottom: 25px;
  }
  .caseL1 img{
    width: 310px;
    height: 130px;
  }
  .caseM1{
    width: 310px;
    height: 185px;
    margin-bottom: 25px;
  }
  .caseM1 img{
    width: 310px;
    height: 130px;
  }
  .caseS1{
    width: 310px;
    height: 185px;
    margin-bottom: 25px;
  }
  .caseS1 img{
    width: 310px;
    height: 130px;
  }
  .footer{
    width: 90vw;
    height: 425px;
  }
}

/*ORDI*/
@media screen and (min-width: 813px) {
  .search_phone{
    display: none;
  }
  .resultats_logement{
    margin-left: 22px;
    margin-right: 22px;
  }
  .populaires{
    border-radius: 15px;
    width: 40%;
  }
  .hebergement{
    background-color: #F2F2F2;
    max-width: 60%;
    margin-right: 30px;
  }
  .part1{
  margin-right: 250px;
  }
  .part2{
    margin-right: 250px;
  }
}
/*Ipad*/
@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape){
  .fixresponsive{
    bottom: 35px;
  }
  .fixresponsive2{
    position: relative;
    bottom: 55px;
  }
}

/*Ipad Pro 10,5*/
@media only screen and (min-width: 1025px) and (max-width: 1112px) and (max-height: 834px) and (orientation: landscape) {
  .fixresponsive{
    bottom: 35px;
  }
}


