.logo{
  max-width: 100px;
  position: absolute;
  margin-left: 20px;
}

.navbar_ordi{
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
}

.navbar_phone{
  display: none;
}

.menu3_phone{
  display: none;
}

.bar_ordi{
  width: 115px;
  height: 2px;
  background-color: #0065FC;
  position: relative;
  left: 112px;
}

.menu1_phone{
  color: #0065FC;
}

.menu1_ordi{
  color: #0065FC;
}

.menu2_ordi{
  margin-left: 50px;
}

.menu3_ordi{
  margin-left: 50px;
  color: #0065FC;
  font-weight: 600;
}

.description{
  padding-left: 22px;
  padding-right: 20px;
}

.searchbar{
  display: flex;
  margin-left: 22px;
}

.marker_icon{
  width: 40px;
  height: 35px;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.marker_icon img{
  width: 14px;
  padding-left: 12px;
  padding-top: 8px;
}

.box{
  border: solid 1px #F2F2F2;
  width: 250px;
  height: 33px;
  padding-left: 10px;
}

.box h3 {
  position: relative;
  bottom: 12px;
}

.search_phone{
  width: 32px;
  height: 35px;
  background-color: #0065FC;
  border-radius: 10px;
  position: relative;
  right: 10px;
}

.search_phone img{
  width: 16px;
  padding-left: 12px;
  padding-top: 7px;
  position: relative;
  right: 3px;
  top: 3px;
}

.search_ordi{
  width: 100px;
  height: 35px;
  background-color: #0065FC;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  right: 10px;
}

.search_ordi p{
  position: relative;
  left: 6px;
  bottom: 8px;
}

.filtres{
  display: flex;
  flex-wrap: wrap;
  margin-left: 22px;
  margin-top: 20px;
}

.economique{
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  height: 35px;
  width: 180px;
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
}

.economique h3{
  position: relative;
  bottom: 12px;
}

.money_icon{
  width: 39px;
  height: 39px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.money_icon img{
  position: relative;
  left: 8px;
  top: 10px;
}

.familial{
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  height: 35px;
  width: 140px;
  margin-top: 10px;
  margin-right: 25px;
  display: flex;
}

.familial h3{
  position: relative;
  bottom: 12px;
}

.child_icon{
  width: 39px;
  height: 39px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.child_icon img{
  position: relative;
  left: 12px;
  top: 10px;
}

.romantique{
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  height: 35px;
  width: 180px;
  margin-top: 10px;
  margin-right: 25px;
  display: flex;
}

.romantique h3{
  position: relative;
  bottom: 12px;
}

.heart_icon{
  width: 39px;
  height: 39px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.heart_icon img{
  position: relative;
  left: 10px;
  top: 10px;
}

.animaux{
  border: 2px solid #F2F2F2;
  border-radius: 25px;
  height: 35px;
  width: 235px;
  margin-top: 10px;
  margin-right: 25px;
  display: flex;
}

.animaux h3{
  position: relative;
  bottom: 12px;
}

.dog_icon{
  width: 39px;
  height: 39px;
  background-color: #DEEBFF;
  border-radius: 50%;
  margin-right: 15px;
  position: relative;
  right: 2px;
  bottom: 2px;
}

.dog_icon img{
  position: relative;
  left: 10px;
  top: 10px;
}

.information{
  display: flex;
}

.information_icon img{
  width: 25px;
  position: relative;
  top: 12px;
  margin-left: 22px;
  margin-right: 10px;
}

.resultats_logement{
  display: flex;
  margin-top: 20px;
  margin-left: 22px;
  margin-right: 22px;
  margin-bottom: 20px;
}

.hebergement{
  background-color: #F2F2F2;
  border-radius: 15px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  max-width: 60%;
  margin-right: 30px;
}

.cases_hebergement{
  display: flex;
  flex-wrap: wrap;
}

.case1{
  background-color: white;
  border-radius: 15px;
  width: 210px;
  height: 240px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.case1 img{
  width: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 5px;
  padding-left: 5px;
}

.case1 p{
  padding-left: 15px;
  line-height: 25px;
}

.stars1{
  display: flex;
  padding-left: 10px;
  position: relative;
  bottom: 15px;
}

.stars1 img{
  width: 15px;
}

.populaires{
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 15px;
  width: 40%;
}

.graph{
  display: flex;
  height: 60px;
  justify-content: space-between;
}

.graph img{
  width: 20px;
}

.case2{
  display: flex;
  background-color: white;
  border-radius: 15px;
  height: 155px;
  line-height: 25px;
  margin-bottom: 30px;
}

.case2 img{
  width: 140px;
  height: 145px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
}

.stars2{
  display: flex;
  padding-left: 10px;
  position: relative;
  bottom: 30px;
  right: 15px;
}

.stars2 img{
  width: 15px;
}

/*PHONE*/
@media screen and (max-width: 813px) {
  .navbar_ordi{
    display: none;
  }
  .navbar_phone{
    display: flex;
    justify-content: space-around;
  }
  .menu3_phone{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    padding-top: 15px;
    color: #0065FC;
    font-weight: 600;
  }
  .bar1_phone{
    width: 200px;
    height: 2px;
    background-color: #0065FC;
  }
  .bar2_phone{
    width: 200px;
    height: 2px;
    background-color: #F2F2F2;
  }
  .search_ordi{
    display: none;
  }
  .resultats_logement{
    flex-wrap: wrap-reverse;
  }
}

/*ORDI*/
@media screen and (min-width: 813px) {
  .search_phone{
    display: none;
  }
}




